
*{
    
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
body{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto; 
}
/* shared style */

.header{
    background-image: url(/Assets/Hero-bg.png);

    /* Nav Style */
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
   
}
.primary-btn{
    font-size: 15px;
    font-weight: bold;
    color: white;
    border: none;
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 12px 36px;
   
}
.primary-btn:hover{
    background-color: red;
    cursor: pointer;
}
nav a{
    text-decoration: none;
}
.ma{
    color: rgb(252, 7, 7);
}
.nav-title{
    font-weight: bold;
    font-size: 35px;
    color: #4E47FF;
  
}
nav ul li{
    list-style: none;
   

}
nav li a{
    text-decoration: none;
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    
}
/* Banner */
.banner{
    text-align: center;
.banner-content{
   padding-bottom: 150px;
   
}
    
}
.banner-title{
    font-weight: bold;
    font-size: 65px;
    padding: 0 200px;
    
/* Main styles */
}
.section{
    display: flex;
    align-items: center;
     justify-content: space-between;
     gap: 150px;
     border-radius: 10px;
     padding: 110px 141px;
}
.image{
    border-radius: 48px;
}
.section-title{
    font-weight: bold;
    font-size: 42px;
}
.section-info{

    font-size: 24px;
    color: #252432;
}